* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}
main {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Crear columnas flexibles */
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centrar las tarjetas horizontalmente */
}
.tarjeta {
  background: linear-gradient(#e2e2e2 10%, #f3e630);
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
  max-width: 250px; /* La imagen no será más ancha que su contenedor */
  max-height: 100%; /* La imagen no será más alta que su contenedor */

  -webkit-box-shadow: 23px 22px 30px -34px rgba(224, 33, 224, 0.61);
  -moz-box-shadow: 23px 22px 30px -34px rgba(224, 33, 224, 0.61);
  box-shadow: 23px 22px 30px -34px rgba(224, 33, 224, 0.61);
}
.tarjeta img{
    width: 100%;
}
.tarjeta h2{
  font-size: .9rem;
}
h1{
  font-size: 1.2rem;
}
#options{
  padding: 10px; 
  border: 1px solid; 
}
main{
  padding: 10px;
}
#otras-paginas{
  margin-left: 10px;
}
#otras-paginas a{
  border-radius: 5px;
  background-color: #9bdcd3;
  color: #383535;
  border: 1px solid;
  text-decoration: none;
  margin-right: 20px;
}
#selectTipoDato{
  
  border-radius: 5px;
}


